.global {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.input {
  width: 340px;
  height: 56px;
  background: var(--input);
  color: var(--gray-hard);
  border: none;
  outline: 0;

  border: 1px solid var(--input);

  border-radius: 10px;

  font-size: 16px;

  text-indent: 42px;

  &::placeholder {
    color: var(--gray);
  }

  &:invalid {
    border: 1px solid #ff0000;
  }

  &:focus {
    color: var(--white);
    border: 1px solid var(--orange);
  }
}

.icon {
  position: absolute;
  left: 8px;
  top: 14px;
  font-size: 25px;
  width: 40px;
  height: 70%;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 839px) {
  .global {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .input {
    width: 340px;
    height: 56px;
    background: var(--input);
    color: var(--gray-hard);
    border: none;
    outline: 0;

    border: 1px solid var(--input);

    border-radius: 10px;

    font-size: 16px;

    text-indent: 42px;

    &::placeholder {
      color: var(--gray);
    }

    &:invalid {
      border: 1px solid #ff0000;
    }

    &:focus {
      color: var(--white);
      border: 1px solid var(--orange);
    }
  }

  .icon {
    position: absolute;
    left: 8px;
    top: 14px;
    font-size: 25px;
    width: 40px;
    height: 70%;
    align-items: center;
    justify-content: center;
  }
}
