.ocupacao {
  display: flex;
  width: 100%;
  height: 30px;
  justify-content: space-around;
  align-items: center;
  text-align: center;

  p {
    color: var(--gray);
    cursor: pointer;
    margin-top: 0;
  }
}

.active {
  color: var(--orange) !important;
  text-decoration: underline;
}

@media screen and (min-width: 839px) {
  .ocupacao {
    display: flex;
    width: 100%;
    height: 30px;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    p {
      color: var(--gray);
      cursor: pointer;
      margin-top: 0;
    }
  }

  .active {
    color: var(--orange) !important;
    text-decoration: underline;
  }
}
