.button {
  width: 340px;
  height: 56px;

  background: var(--orange);
  border-radius: 10px;
  border: 0;
  outline: none;

  font-weight: bold;
  font-size: 18px;

  cursor: pointer;

  &:hover {
    filter: brightness(0.8);
    transition: 0.4s;
  }
}
