:root {
  --background: #f4ede8;
  --white: #312e38;
  --orange: #ff9000;
  --gray: #999591;
  --gray-hard: #666360;
  --shape: #ccc6c2;
  --black-medium: #28262e;
  --input: #afa298;
  --calendar: #ccc6c2;
}

[data-theme="dark"] {
  --background: #312e38;
  --white: #f4ede8;
  --orange: #ff9000;
  --gray: #999591;
  --gray-hard: #666360;
  --shape: #3e3b47;
  --black-medium: #28262e;
  --input: #232129;
  --calendar: #28262e;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto Slab, serif;
}

body {
  background: var(--background);
  color: var(--text-color);
}

.wrapper {
  display: flex;
}

::-webkit-input-placeholder {
  text-transform: initial;
}

:-moz-placeholder {
  text-transform: initial;
}

::-moz-placeholder {
  text-transform: initial;
}

:-ms-input-placeholder {
  text-transform: initial;
}

::-webkit-scrollbar {
  width: 10px;
  height: 7px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #aaaaaa;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #bbbbbb;
}
