:root {
  --background: #f4ede8;
  --white: #312e38;
  --orange: #ff9000;
  --gray: #999591;
  --gray-hard: #666360;
  --shape: #ccc6c2;
  --black-medium: #28262e;
  --input: #afa298;
  --calendar: #ccc6c2;

  --calendar-button: #999591;

  --bg: #242526;
  --bg-accent: #999591;
  --text-color: #dadce1;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms;
}

[data-theme="dark"] {
  --background: #312e38;
  --white: #f4ede8;
  --orange: #ff9000;
  --gray: #999591;
  --gray-hard: #666360;
  --shape: #3e3b47;
  --black-medium: #28262e;
  --input: #232129;
  --calendar: #28262e;

  --calendar-button: #3e3b47;

  --bg: #242526;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto Slab, serif;
}

body {
  background: var(--background);
  color: var(--text-color);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.wrapper {
  display: flex;
}

::-webkit-input-placeholder {
  text-transform: initial;
}

:-moz-placeholder {
  text-transform: initial;
}

::-moz-placeholder {
  text-transform: initial;
}

:-ms-input-placeholder {
  text-transform: initial;
}

::-webkit-scrollbar {
  width: 10px;
  height: 7px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #aaaaaa;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #bbbbbb;
}
