.floating {
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 10;
  width: 32px;
  height: 32px;
  background: var(--orange);
  border-radius: 10px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  transition: background-color 0.2s ease 0s;
  cursor: pointer;

  &:hover {
    filter: brightness(0.8);
    transition: 0.4s;
  }
}

@media screen and (min-width: 839px) {
  .floating {
    position: fixed;
    right: 40px;
    bottom: 40px;
    z-index: 10;
    width: 32px;
    height: 32px;
    background: var(--orange);
    border-radius: 10px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    transition: background-color 0.2s ease 0s;
    cursor: pointer;

    &:hover {
      filter: brightness(0.8);
      transition: 0.4s;
    }
  }
}
