.floating {
  position: absolute;
  right: 40px;
  bottom: 40px;
  z-index: 10;
  width: 64px;
  height: 64px;
  background: var(--orange);
  border-radius: 20px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  transition: background-color 0.2s ease 0s;

  &:hover {
    filter: brightness(0.8);
    transition: 0.4s;
  }
}
