.titleHome {
  margin-top: 24px;
  margin-bottom: 24px;
  font-weight: bold;
  color: var(--white);
  margin-left: 18px;
  margin-right: 18px;
  font-size: 22px;
}

.titleContainer {
  margin-top: 24px;
  margin-bottom: 24px;
  font-weight: bold;
  color: var(--white);
  font-size: 22px;
  flex-direction: row;
  display: flex;
  align-items: center;
  width: 22rem;
  justify-content: space-around;

  font-size: 14px;
}

.containerList {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.containerAlert {
  display: flex;
  width: 23rem;
  align-items: center;
  justify-content: center;
}

.containerAlertTelefone {
  display: flex;
  width: 45rem;
  align-items: center;
  justify-content: center;
}

.button {
  display: flex;
  border: none;
  background: var(--shape);
  cursor: pointer;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;

  &:hover {
    filter: brightness(0.6);
    transition: 0.4s;
  }
}

@media screen and (min-width: 839px) {
  .titleContainer {
    margin-top: 24px;
    margin-bottom: 24px;
    font-weight: bold;
    color: var(--white);
    margin-left: 12px;
    font-size: 22px;
    flex-direction: row;
    display: flex;
    align-items: center;
    width: 30rem;
    justify-content: space-around;

    font-size: 18px;
  }

  .containerAlert {
    display: flex;
    width: 30rem;
    align-items: center;
    justify-content: center;
  }
}
