.horario {
  display: flex;
  cursor: pointer;
  background: var(--shape);
  color: var(--white);
  width: 55px;
  height: 35px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  font-size: 14px;
  border: none;

  &:hover {
    transition: 0.4s;
    filter: brightness(0.8);
    border: 1px solid var(--orange);
  }

  &:disabled {
    background: var(--shape);
    color: var(--input);
    cursor: not-allowed;
    border: none;
    transition: none;
    filter: none;
  }
}

.selected {
  display: flex;
  cursor: pointer;
  background: var(--orange);
  color: var(--input);
  width: 55px;
  height: 35px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  font-size: 14px;
  border: none;
}
