.floatingButton {
  right: 40px;
  bottom: 110px;
  z-index: 1001;
  display: flex;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background: var(--orange);
  position: fixed;
  text-align: center;
  border-radius: 10px;
  align-items: center;
  justify-content: center;

  &:hover {
    filter: brightness(0.8);
    transition: 0.4s;
  }
}

.floatingButtonNone {
  display: none;
}
