.home {
  background: var(--background);
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--background);
}

.containerTitle {
  display: flex;
  width: 22rem;
  flex-direction: column;
  margin-bottom: 24px;
}

.title {
  margin-top: 24px;
  font-weight: bold;
  color: var(--white);
  display: flex;
  font-weight: 500;
}

.containerHorario {
  display: flex;
  flex-direction: row;
  width: 350px;
  margin-top: 12px;
  justify-content: flex-start;
  gap: 16px;
  flex-wrap: wrap;
}

.title {
  margin-top: 24px;
  font-weight: bold;
  color: var(--white);
  display: flex;
  font-weight: 500;
}

.calendar {
  background: var(--calendar);
  border-radius: 10px;
}

.containerCard {
  display: flex;
  width: 20rem;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.whatsapp {
  display: flex;
  background-color: rgb(37, 211, 102);
  width: 50px;
  height: 50px;
  border: none;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  padding: 10px;
  cursor: pointer;

  &:disabled {
    background-color: rgb(37, 211, 102);
    filter: grayscale(50%);
    color: rgb(255, 255, 255);
    cursor: not-allowed;
  }
}

.containerAlert {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}

@media screen and (min-width: 839px) {
  .home {
    background: var(--background);
    height: 100vh;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--background);
  }

  .containerTitle {
    display: flex;
    width: 22rem;
    flex-direction: column;
    margin-bottom: 24px;
  }

  .title {
    margin-top: 24px;
    font-weight: bold;
    color: var(--white);
    display: flex;
    font-weight: 500;
  }

  .containerHorario {
    display: flex;
    flex-direction: row;
    width: 370px;
    margin-top: 12px;
    justify-content: flex-start;
    gap: 16px;
    flex-wrap: wrap;
  }

  .title {
    margin-top: 24px;
    font-weight: bold;
    color: var(--white);
    display: flex;
    font-weight: 500;
  }

  .calendar {
    background: var(--calendar);
    border-radius: 10px;
  }

  .containerCard {
    display: flex;
    width: 25rem;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
  }
}
