.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: var(--background);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 12px;
  color: var(--white);
}

.containerTime {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.containerInput {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerDiaSemana {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3rem;
  border-radius: 0.5rem;
  padding: 0px 1rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  border: var(--border);
}

.diaSemana {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);

  &:hover {
    filter: brightness(0.8);
    transition: 0.4s;
  }
}

.intervalo {
  margin-bottom: 22px;
}

@media screen and (min-width: 839px) {
  .containerInput {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
