.titleHome {
  margin-top: 24px;
  margin-bottom: 24px;
  font-weight: bold;
  color: var(--white);
  margin-left: 12px;
  font-size: 22px;
}

.containerBarbeiro {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.containerRightCalendar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 0px;
}

.containerButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 18px;
}

.hourContainer {
  display: flex;
  background: var(--black-medium);
  width: 354px;
  align-items: center;
  justify-content: center;
  font-size: 34px;
  border-radius: 10px;
  height: 7vh;

  font-family: Orbitron, sans-serif;
  font-weight: 600;
}

.containerList {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.list {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.calendar {
  margin-top: 12px;
  background: var(--calendar);
  border-radius: 10px;
}

.containerHorarioAgendados {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.infoText {
  color: var(--orange);
  font-weight: 400;
  font-size: 14px;
  margin: 0;
}

.shift {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 320px;

  margin-top: 12px;

  font-weight: 400;
  color: var(--gray);
  font-size: 18px;
}

.containerAviso {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 100%;
}

.line {
  width: 100%;
  height: 0px;
  margin-top: 8px;

  border: 1px solid var(--shape);
}

.containerCalendar {
  display: flex;
  width: 320px;
  margin-top: 20px;
  justify-content: space-between;
}

.containerAlert {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.button {
  display: flex;
  cursor: pointer;
  background: var(--shape);
  color: var(--white);
  width: 150px;
  height: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  font-size: 14px;
  border: none;
  margin-bottom: 20px;

  &:hover {
    background: var(--orange);
    color: var(--white);
  }
}

@media screen and (min-width: 839px) {
  .titleHome {
    margin-top: 24px;
    margin-bottom: 24px;
    font-weight: bold;
    color: var(--white);
    margin-left: 12px;
    font-size: 22px;
  }

  .containerBarbeiro {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
  }

  .containerRightCalendar {
    display: flex;
    flex-direction: column;
    margin-right: 22px;
    margin-top: 35px;
  }

  .containerButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 18px;
  }

  .hourContainer {
    display: flex;
    background: var(--black-medium);
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 34px;
    border-radius: 10px;
    height: 10vh;

    font-family: Orbitron, sans-serif;
    font-weight: 600;
  }

  .containerList {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-left: 70px;
  }

  .list {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .calendar {
    margin-top: 12px;
    background: var(--calendar);
    border-radius: 10px;
  }

  .containerHorarioAgendados {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 95%;
  }

  .infoText {
    color: var(--orange);
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    margin-left: 14px;
  }

  .shift {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 90%;

    margin-top: 12px;

    font-weight: 400;
    color: var(--gray);
    font-size: 18px;
  }

  .line {
    width: 100%;
    height: 0px;
    margin-top: 8px;

    border: 1px solid var(--shape);
  }

  .containerCalendar {
    display: flex;
    width: 320px;
    margin-top: 20px;
    justify-content: space-between;
  }

  .button {
    display: flex;
    cursor: pointer;
    background: var(--shape);
    color: var(--white);
    width: 150px;
    height: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    font-size: 14px;
    border: none;

    &:hover {
      background: var(--orange);
      color: var(--white);
    }
  }
}
