.home {
  background: var(--background);
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: var(--background);
}

.titleHome {
  margin-top: 24px;
  margin-bottom: 24px;
  font-weight: bold;
  color: var(--white);
  margin-left: 18px;
  margin-right: 18px;
  font-size: 22px;
}

.titleContainer {
  margin-top: 24px;
  margin-bottom: 24px;
  font-weight: bold;
  color: var(--white);
  margin-left: 12px;
  font-size: 22px;
  flex-direction: row;
  display: flex;
  align-items: center;
  width: 90%;
  justify-content: space-around;

  font-size: 14px;
}

.containerList {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.containerBarber {
  display: flex;
  width: 25rem;
  align-items: center;
  justify-content: space-around;
}

.button {
  border: none;
  background: var(--orange);
  cursor: pointer;
  border-radius: 10px;
  width: 60px;
  height: 60px;
  align-items: center;
  justify-content: center;

  &:hover {
    filter: brightness(0.6);
    transition: 0.4s;
  }
}

@media screen and (min-width: 839px) {
  .titleContainer {
    margin-top: 24px;
    margin-bottom: 24px;
    font-weight: bold;
    color: var(--white);
    margin-left: 12px;
    font-size: 22px;
    flex-direction: row;
    display: flex;
    align-items: center;
    width: 30rem;
    justify-content: space-around;

    font-size: 18px;
  }
}
