.home {
  background: var(--background);
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: var(--background);
}

.title {
  font-weight: bold;
  color: var(--white);
  font-size: 22px;
  margin-top: 24px;
}

.containerButton {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 22px;
  margin-top: 22px;
}

.form {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  background: var(--shape);
  flex-direction: column;
  width: 22rem;
  height: 12rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  align-items: flex-start;
  justify-content: space-around;
  padding: 1rem;

  &:hover {
    filter: brightness(0.8);
    transition: 0.4s;
    border: 1px solid var(--orange);
  }
}

h3 {
  color: var(--white);
}

@media screen and (min-width: 839px) {
  .home {
    background: var(--background);
    height: 100vh;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: var(--background);
  }

  .title {
    font-weight: bold;
    color: var(--white);
    font-size: 22px;
    margin-top: 24px;
  }

  .containerButton {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 22px;
    margin-top: 22px;
  }

  .form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .card {
    display: flex;
    background: var(--shape);
    flex-direction: row;
    width: 45rem;
    cursor: pointer;
    height: 6rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    align-items: center;
    justify-content: space-around;

    &:hover {
      filter: brightness(0.8);
      transition: 0.4s;
      border: 1px solid var(--orange);
    }
  }
}
